<section class="blog-section" id="blog">
  <h2>Últimos Artículos del Blog</h2>
  <p>Aprende sobre la ciencia del entrenamiento, nutrición y hábitos saludables.</p>
  
  <div class="grid-container">
    @for (post of blogPosts; track post.id) {
      <article class="card">
        <img [src]="post.imagen" [alt]="post.titulo">
        <div class="card-content">
          <span class="tag-categoria">{{ post.categoria }}</span>
          <div style="margin-top: 0.8rem;"><span class="date">{{ post.fecha }}</span></div>
          <h3>{{ post.titulo }}</h3>
          <p>{{ post.extracto }}</p>
          <button class="link-more" (click)="leerArticulo(post.id)">Leer artículo completo &rarr;</button>
        </div>
      </article>
    }
  </div>
</section>