<section class="blog-section" id="blog">
  <h2>Artículos Científicos & Hábitos</h2>
  <p class="section-subtitle">Divulgación basada en evidencia para expandir tus conocimientos sobre alimentación y salud.</p>
  
  <div class="grid-container">
    @for (post of blogPosts; track post.id) {
      <article class="card">
        <div class="card-img-wrapper">
          <img [src]="post.imagen" [alt]="post.titulo">
          <span class="tag-blog">{{ post.categoria }}</span>
        </div>
        
        <div class="card-content">
          <span class="date-text">{{ post.fecha }}</span>
          <h3>{{ post.titulo }}</h3>
          <p>{{ post.extracto }}</p>
          <button class="link-more">Leer Artículo Completo &rarr;</button>
        </div>
      </article>
    }
  </div>
</section>